body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  padding: 2rem;
}
#app {
  /* No center in vertical */
  text-align: center;
}
.logo {
  height: 150px;
  width: auto;
  margin-bottom: 1rem;
}